doctype html
html(lang="en/us")  
    head
        title @ Wortell (beta)
        link(href='style-min.css', rel='stylesheet',type="text/css")
    body(class="_body")
        main
            hgroup
                h1  Wortell
                    sup beta
                h2 Schipholweg 641, Lijnden, The Netherlands
            div(id='room')
            div(class='menu')
                div(class="inner-menu")
                    
            script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
            script(src='https://code.jquery.com/jquery-2.2.4.min.js')
            script(src='scripts-min.js')
            script.
                window.addEventListener('load', init, false);

                function init() {

                    createScene();
                    createLights();

                    church = new Church_floor();
                    scene.add( church.mesh );

                    render();    
                    
                    controls = new THREE.OrbitControls(camera, renderer.domElement);
                    controls.minPolarAngle = -Math.PI*.45; 
                    controls.maxPolarAngle = Math.PI*.45;
                    controls.minDistance = 500;
                    controls.maxDistance = 1000;
                    controls.enabled = true;
                    controls.enableZoom  = true;
                    controls.enablePan  = true;
                    

                    if (controls && controls.enabled) controls.update();
                     controls.addEventListener('change', function() { 
                        render()
                     });
                }
            
            
            