@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
$primary-color: #023c8e;
$secondary-color: #ddd;
$background-color: #208fe5;
$colorBackgroundDark: #A9A9A9;
$colorBackgroundLight: #f2f2f2;
$colorAccent: #023c8e;
$colorTextDark: #333;
$primary-color: #A9A9A9;
$secondary-color: #ddd;
$background-color: #ddd;

$transitionEase : ease-out;// cubic-bezier(0.2,1,0.3,1);
$transitionTime : 0.22s;

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    color: $colorTextDark;
    line-height: 1.4;
}

h1,
h2 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

h2{
    font-size:1.7em;
}

p {
    margin: 0;
}

nav#navigation {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 250px;
    margin-top: 10vh;
    margin-left: 10vw;
    h1 {
        white-space: nowrap;
    }
}

.navigation__title {
    $height: 3.7em;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    transition: all $transitionTime $transitionEase;
    overflow: hidden;
    height: $height;
    padding-top: 0;
    opacity: 1;
    h2{
        padding-top:1em;
    }
    .animating-out & {
        height: 0;
        opacity: 0;
        padding-top: $height;
    }
}

.navigation__content {
    display: block;
    position: absolute;
    transition: all $transitionTime $transitionEase;
    opacity: 1;
    .animating-out & {
        opacity: 0;
    }
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all $transitionTime $transitionEase;
            &:hover {
                //border-bottom: 1px solid $colorAccent;
            }
        }
    }
}

.navigation__divider {
    margin: 1em 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    transition: all $transitionTime $transitionEase;
    opacity: 1;
    .animating-out & {
        //max-width:0;
        opacity: 0;
    }
}

#room {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

main {
    //background-image: radial-gradient(center, #208fe5 0%, #023c8e 50%);
    //background: radial-gradient(ellipse at center,$colorBackgroundLight 0%,$colorBackgroundDark 100%);
    background-color: $colorBackgroundLight;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 800;
}


.mouseOnSelectableObject {
    cursor: pointer;
}