doctype html
html(lang="en/us")  
    head
        title Interaction - Who is in the Room 3D
        link(href='../../../style-min.css', rel='stylesheet',type="text/css")
        link(href='style.css', rel='stylesheet',type="text/css")
        link(rel="shortcut icon", type="image/x-icon",href="data:image/x-icon;,")
    body(class="_body")
        main
            h1  Who is in the room 3D - Interaction
            div(id='room')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
            script(src='https://code.jquery.com/jquery-2.2.4.min.js')
            script(src='../../../scripts-min.js')
            //script(src='script.js')
            script.
                window.addEventListener('load', init, false);

                function init() {
                    createScene();
                    createLights();

                    //room = new Room(300, 300);
                    //scene.add( room.mesh );
                    var geometry = new THREE.BoxBufferGeometry( 20, 20, 20 );
                    var object = new THREE.Mesh( geometry, new THREE.MeshLambertMaterial( { color: Math.random() * 0xffffff } ) );
                    
                    scene.add( object );
                   
                    render();
                    //renderer.render(scene, camera);

                    controls = new THREE.OrbitControls(camera);
                    //controls.target = new THREE.Vector3(0,60,0);
                    //controls.minPolarAngle = -Math.PI*.45; 
                    //controls.maxPolarAngle = Math.PI*.45;
                    //controls.minDistance = 500;
                    //controls.maxDistance = 1000;
                    //controls.enabled = true;
                    //controls.enableZoom  = true;
                    //controls.enablePan  = true;
                    

                    //if (controls && controls.enabled) controls.update();
                    controls.addEventListener('change', function() { renderer.render(scene, camera); } );
                }
            
            
            