doctype html
html(lang="en/us")  
    head
        title Office Space
        link(href='style.css', rel='stylesheet',type="text/css")
    body(class="_body")
        main
            div(id='room')
                a(href="#fauna__tree") Item 1
                a(href="#desk__1") Item 2
                a(href="#") nothing
            nav(id='navigation')
                a(class="navigation__title",href="#menu")
                    h1 
                hr(class="navigation__divider")
                div(class='navigation__content')
            aside(id='menu')
                div(class='content')
                    div(class='column')
                        h2 Rooms
                        ul 
                            li Andreas
                            li Johannes
                            li Matteus
                            li Paulus
                            li Petrus
                            li Filippus
                            li Jakobus
                            li Pastoor                         
                    div(class='column')
                        h2 People
                        ul
                            li Receptie
                            li BHV
                    div(class='column')
                        h2 Services
                        ul
                            li Printer
                            li Lunch
                            li Keuken
                            li Hub
                            li Narrow Casting
                            li BHV
            script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
            script(src='https://code.jquery.com/jquery-2.2.4.min.js')
            script(src='script.js')
            script(src='../../../scripts-min.js')
            script.
                
                
            
            
            