doctype html
html(lang="en/us")  
    head
        title Component - Scene 
        link(href='style.css', rel='stylesheet',type="text/css")
    body(class="_body")
        main
            h1 Component - Avatar 
            div(id='world')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
            script(src='https://code.jquery.com/jquery-2.2.4.min.js')
            script(src='script.js')
            script(src='../scripts-min.js')
            script.
                window.addEventListener('load', init, false);

                function init() {

                    //createScene();
                    //createLights();

                    //renderer.render(scene, camera);

                    //var controls = new THREE.OrbitControls( camera, renderer.domElement );
                    //controls.addEventListener( 'change', function() { renderer.render(scene, camera); } );

                }
            
            
            