<!DOCTYPE html>
<html lang="en/us"> 
  <head>
    <title>Office Space</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body class="_body">
    <main>
      <div id="room"><a href="#fauna__tree">Item 1</a><a href="#desk__1">Item 2</a><a href="#">nothing</a></div>
      <nav id="navigation"><a class="navigation__title" href="#menu">
          <h1> </h1></a>
        <hr class="navigation__divider">
        <div class="navigation__content"></div>
      </nav>
      <aside id="menu">
        <div class="content">
          <div class="column">
            <h2>Rooms</h2>
            <ul> 
              <li>Andreas</li>
              <li>Johannes</li>
              <li>Matteus</li>
              <li>Paulus</li>
              <li>Petrus</li>
              <li>Filippus</li>
              <li>Jakobus</li>
              <li>Pastoor                         </li>
            </ul>
          </div>
          <div class="column">
            <h2>People</h2>
            <ul>
              <li>Receptie</li>
              <li>BHV</li>
            </ul>
          </div>
          <div class="column">
            <h2>Services</h2>
            <ul>
              <li>Printer</li>
              <li>Lunch</li>
              <li>Keuken</li>
              <li>Hub</li>
              <li>Narrow Casting</li>
              <li>BHV</li>
            </ul>
          </div>
        </div>
      </aside>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="script.js"></script>
      <script src="../../../scripts-min.js"></script>
      <script></script>
    </main>
  </body>
</html>