@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html,
body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  color: #333;
  line-height: 1.4; }

h1,
h2 {
  font-weight: 300;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 1.7em; }

p {
  margin: 0; }

nav#navigation {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 250px;
  margin-top: 10vh;
  margin-left: 10vw; }
  nav#navigation h1 {
    white-space: nowrap; }

.navigation__title {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  transition: all 0.22s ease-out;
  overflow: hidden;
  height: 3.7em;
  padding-top: 0;
  opacity: 1; }
  .navigation__title h2 {
    padding-top: 1em; }
  .animating-out .navigation__title {
    height: 0;
    opacity: 0;
    padding-top: 3.7em; }

.navigation__content {
  display: block;
  position: absolute;
  transition: all 0.22s ease-out;
  opacity: 1; }
  .animating-out .navigation__content {
    opacity: 0; }
  .navigation__content ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    .navigation__content ul a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all 0.22s ease-out; }

.navigation__divider {
  margin: 1em 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  transition: all 0.22s ease-out;
  opacity: 1; }
  .animating-out .navigation__divider {
    opacity: 0; }

#room {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; }

main {
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 800; }

.mouseOnSelectableObject {
  cursor: pointer; }
